<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
     
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
            <a class="navbar-brand active" href="/">Home</a>
            <a class="navbar-brand" href="project">Project</a>
            <a class="navbar-brand" href="contact">Contact</a>
        </nav>
    <h1 class="text-center">Here are some projects of mine!</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style = "border:solid 2px black;overflow: scroll; height:500px; ">
            <div class="row">
                <div class="col-4">
                    <img src="~/img/fiveInRow.jpg" alt="five in row" >
                </div>
                <div class="col-8">
                    <h2>Gomoku Platform</h2>
                    <p>---Multiple rel-time Gomoku game platform.</p>
                    <h4>Technical Considerations</h4>
                    <ul>
                        <li>Node js</li>
                        <li>Express</li>
                        <li>Socket.io</li>
                        <li>Angular</li>
                               
                    </ul>
                </div>
                
            </div>
            <hr>
             <div class="row">
                <div class="col-4">
                    <img src="~/img/fiveInRow.jpg" alt="five in row" >
                </div>
                <div class="col-8">
                    <h2>Gomoku Platform</h2>
                    <p>Multiple rel-time Gomoku game platform.</p>
                </div>
                
            </div>
            <hr>
             <div class="row">
                <div class="col-4">
                    <img src="~/img/fiveInRow.jpg" alt="five in row" >
                </div>
                <div class="col-8">
                    <h2>Gomoku Platform</h2>
                    <p>Multiple rel-time Gomoku game platform.</p>
                </div>
                
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    </div>
</body>
</html>